@import-normalize; /* bring in normalize.css styles */

/* rest of app styles */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  color: white;
}